#header-custom {
  background: #ffffff;
  color: #ffffff;
}

.header-link {
  text-align: center;
}

.content-span {
  font-size: medium;
  font-weight: bold;
}

.hot-span {
  font-size: small;
  font-weight: normal;
}
